mixin radio_buttons(options)
  .radio_buttons
    span.radio_buttons__name=options.title
    .radio_buttons__wrapper
      label(class="radio_buttons__label")
        input(class="radio_buttons__input" type="radio" name=options.name value=options.one checked)
        |#{options.one}
        span(class="radio_buttons__box")
      label(class="radio_buttons__label")
        input(class="radio_buttons__input" type="radio" name=options.name value=options.two)
        |#{options.two}
        span(class="radio_buttons__box")

//- +radio_buttons({title:"radio buttons", name:"gender", one:"Мужчина", two:"Женщина"})

    
