mixin text_field(options)
  .text_filed
    label(class="text_field__label")= options.label
      | 
      input(class="text_field__input text_field__input-hover" class=options.mod type=options.type name=options.name value=options.value)
      